In [2]:
# Import Splinter, BeautifulSoup, Pandas, Regular Expression, and Time
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import time
import pandas as pd

In [7]:
# Path to chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [8]:
url = "https://www.imdb.com/chart/top/?ref_=nv_mv_250"
browser.visit(url)

In [9]:
time.sleep(10)

# Set the executable path and initialize the chrome browser in splinter
html = browser.html
soup = bs(html, 'html.parser')

In [15]:
tables = pd.read_html(url)
tables[0]

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. The Shawshank Redemption (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. The Godfather (1972),9.1,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. The Godfather: Part II (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. 12 Angry Men (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN
...,...,...,...,...,...
245,NaN,246. The Battle of Algiers (1966),8.0,12345678910 NOT YET RELEASED Seen,NaN
246,NaN,247. Throne of Blood (1957),8.0,12345678910 NOT YET RELEASED Seen,NaN
247,NaN,248. A Silent Voice: The Movie (2016),8.0,12345678910 NOT YET RELEASED Seen,NaN
248,NaN,249. Neon Genesis Evangelion: The End of Evan...,8.0,12345678910 NOT YET RELEASED Seen,NaN
249,NaN,250. Swades (2004),8.0,12345678910 NOT YET RELEASED Seen,NaN