In [1]:
# Import Splinter, BeautifulSoup, Regular Expression, and Time
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import time
import pandas as pd

In [2]:
top_250_imdb = pd.read_csv("../Output/top_250_imdb.csv")
top_250_imdb.head(5)

   Unnamed: 0                          Rank & Title  IMDb Rating
0           0  1.  The Shawshank Redemption  (1994)          9.2
1           1             2.  The Godfather  (1972)          9.1
2           2    3.  The Godfather: Part II  (1974)          9.0
3           3           4.  The Dark Knight  (2008)          9.0
4           4              5.  12 Angry Men  (1957)          8.9

In [3]:
top_250_imdb[["Rank", "Title"]] = top_250_imdb["Rank & Title"].str.split(".", n=1, expand=True)

In [4]:
top_250_imdb["Rank & Title"]

0         1.  The Shawshank Redemption  (1994)
1                    2.  The Godfather  (1972)
2           3.  The Godfather: Part II  (1974)
3                  4.  The Dark Knight  (2008)
4                     5.  12 Angry Men  (1957)
                        ...
245        246.  The Battle of Algiers  (1966)
246    247.  A Silent Voice: The Movie  (2016)
247              248.  Throne of Blood  (1957)
248                       249.  Swades  (2004)
249          250.  Munna Bhai M.B.B.S.  (2003)
Name: Rank & Title, Length: 250, dtype: object

In [5]:
top_250_imdb = top_250_imdb[["Rank", "Title", "IMDb Rating"]].set_index("Rank")

In [6]:
top_250_imdb.head(5)

                                   Title  IMDb Rating
Rank
1       The Shawshank Redemption  (1994)          9.2
2                  The Godfather  (1972)          9.1
3         The Godfather: Part II  (1974)          9.0
4                The Dark Knight  (2008)          9.0
5                   12 Angry Men  (1957)          8.9

# Scaping Google

In [7]:
# Path to chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
url = "https://www.google.com/search?q="
#browser.visit(url)

In [9]:
movie_list = top_250_imdb["Title"]

base_url = 'https://www.google.com/search?q='

streaming = []
title = []
price = []

for movie in movie_list:
    query_url = (f'{base_url}{movie}')

    browser.visit(query_url)

    time.sleep(5)

    soup = bs(browser.html, 'lxml')


    results1 = soup.find_all('div', class_ = 'ellip bclEt')

    for result in results1:
        streaming.append(result.text)
        title.append(movie.capitalize())

    results2 = soup.find_all('div', class_ = 'ellip rsj3fb')

    for result in results2:
        price.append(result.text)

In [20]:
len(streaming)

1297

In [19]:
len(title)

1297

In [18]:
len(price)

1296

In [13]:
pd.DataFrame({'Title': title,
            'Streaming On' : streaming,
            'Price' : price
            })

ValueError: arrays must all be same length

In [21]:
movie_list

Rank
1         The Shawshank Redemption  (1994)
2                    The Godfather  (1972)
3           The Godfather: Part II  (1974)
4                  The Dark Knight  (2008)
5                     12 Angry Men  (1957)
                      ...
246          The Battle of Algiers  (1966)
247      A Silent Voice: The Movie  (2016)
248                Throne of Blood  (1957)
249                         Swades  (2004)
250            Munna Bhai M.B.B.S.  (2003)
Name: Title, Length: 250, dtype: object