In [1]:
# Import Splinter, BeautifulSoup, Pandas, Regular Expression, and Time
import pandas as pd

In [2]:
url = "https://www.imdb.com/chart/top/?ref_=nv_mv_250"

In [3]:
tables_imdb = pd.read_html(url)
top_250 = tables_imdb[0]

In [4]:
top_250 = top_250[['Rank & Title', 'IMDb Rating']]
top_250

                                Rank & Title  IMDb Rating
0       1.  The Shawshank Redemption  (1994)          9.2
1                  2.  The Godfather  (1972)          9.1
2         3.  The Godfather: Part II  (1974)          9.0
3                4.  The Dark Knight  (2008)          9.0
4                   5.  12 Angry Men  (1957)          8.9
..                                       ...          ...
245      246.  The Battle of Algiers  (1966)          8.0
246  247.  A Silent Voice: The Movie  (2016)          8.0
247            248.  Throne of Blood  (1957)          8.0
248                     249.  Swades  (2004)          8.0
249        250.  Munna Bhai M.B.B.S.  (2003)          8.0

[250 rows x 2 columns]

In [6]:
top_250.to_csv("../Output/top_250_imdb.csv")