In [1]:
# Import Pandas, Regular Expression, and Time
import pandas as pd
import time
import re

In [2]:
url = "https://www.imdb.com/chart/top/?ref_=nv_mv_250"

In [3]:
tables_imdb = pd.read_html(url)
top_250_imdb = tables_imdb[0]

In [4]:
top_250_imdb = top_250_imdb[['Rank & Title', 'IMDb Rating']]
top_250_imdb

                                        Rank & Title  IMDb Rating
0               1.  The Shawshank Redemption  (1994)          9.2
1                          2.  The Godfather  (1972)          9.1
2                 3.  The Godfather: Part II  (1974)          9.0
3                        4.  The Dark Knight  (2008)          9.0
4                           5.  12 Angry Men  (1957)          8.9
..                                               ...          ...
245              246.  The Battle of Algiers  (1966)          8.0
246          247.  A Silent Voice: The Movie  (2016)          8.0
247                             248.  Swades  (2004)          8.0
248  249.  Lagaan: Once Upon a Time in India  (2001)          8.0
249                    250.  Throne of Blood  (1957)          8.0

[250 rows x 2 columns]

In [5]:
#start = time.time()

rank_list = []
title_list = []
year_list = []

for movie in top_250_imdb["Rank & Title"]:
    rank = re.split('[.()]', movie)[0].strip()
    rank_list.append(rank)
    
    title = re.split('[.()]', movie)[1].strip()
    title_list.append(title)
    
    year = re.split('[.()]', movie)[2].strip()
    year_list.append(year)
    
#print(f'Time: {time.time() - start}')

Time: 0.0

In [6]:
dict_imdb = {'IMDb Rank': rank_list,
             'Movie Title': title_list,
             'Year Released': year_list,
             'IMDb Rating' : top_250_imdb['IMDb Rating']
            }

top_250_imdb = pd.DataFrame(dict_imdb)

top_250_imdb.head()

  IMDb Rank               Movie Title Year Released  IMDb Rating
0         1  The Shawshank Redemption          1994          9.2
1         2             The Godfather          1972          9.1
2         3    The Godfather: Part II          1974          9.0
3         4           The Dark Knight          2008          9.0
4         5              12 Angry Men          1957          8.9

In [8]:
top_250_imdb.to_csv("../Output/top_250_imdb.csv", index = False)